@import 'colors';

@mixin layout-element {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

@mixin main-button{
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  background-color: $main-button-color;
  color: white;
  border-radius: 20px;
  border: none;
  &:hover {
    background-color: $main-button-hover-color;
  }
}

@mixin dialog{
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 45%;
  min-width: 250px;
  max-width: 400px;
  text-align: center;
  padding: 20px;
}

@mixin dialog-top{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: $main-button-color;
  height: 25px;
}

.entities-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin: 10px auto;

  .grid-entity{
    display: flex;
    align-items: center;
    border: 0.25px solid;
    border-radius: 30px;
    padding: 10px;
    .entity-info{
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      flex-direction: column;
      .main-info-field {
        font-weight: bold;
        font-size: 1.2em;
      }
      .info-field {
        font-size: 1.2em;
      }
    }
      
    .entity-buttons{
      button{
        @include main-button();
      }
    }
  }
}

.entities-table{
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;

  th {
    background-color: $table-row-color;
  }

  tr:hover{
    background-color: $table-row-hover-color;
  }

  .action-column{
    display: block;
    button{
      @include main-button();
    }
  }

  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid $border-color;
    word-wrap: break-word;
  }
}

.navbar {
  @include layout-element;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .logo {
    font-size: 3rem;
    font-weight: bold;
    color: $main-button-color;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0;
    min-width: 40%;
    list-style-type: none;
    li{
      margin: 0 5px;
      font-size: 1.5em;
      color: $main-button-color;
      text-decoration: none;
      font-weight: bold;
      a{
        all: inherit;
      }

      &:hover {
        color: $light-yellow;
      }
    }
  }

  .cart-div {
    position: relative; 
    display: inline-block;

    .cart-img{
      height: 3em;
    }

    .order-form {
      display: none;
      position: absolute;
      transform: translate(-90%, 0);
      flex-direction: column;
      align-items: center;
      background-color: white;
      padding-bottom: 10px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

      .dialog-top{
        @include dialog-top;
        width: 100%;
      }

      .medicine-row {
        display: flex;
        align-items: center;
        margin: 1rem;
    
        label {
          margin-right: 1rem;
        }
    
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          appearance: none;
          margin: 0;
        }

        input[type="number"] {
          width: 4rem;
          padding: 0.5rem;
          border-radius: 0.25rem;
          border: 1px solid gray;
          font-size: 1rem;
          text-align: center;
        }

      }
    
      button[type="submit"] {
        background-color: blue;
        color: white;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.25rem;
        font-size: 1rem;
        cursor: pointer;
        margin: 5px 10px;
    
        &:hover {
          background-color: darkblue;
        }
      }
    
    }
    
    &:hover .order-form {
      display: flex; 
    }
  }
  
}

main{
  @include layout-element;
}

.medicine-buttons{
  display: flex;
  justify-content: flex-start;
  .add-medicine-botton,
  .demand-list-botton{
    @include main-button;
    margin: 10px;
  }
}

.login-dialog,
.user-create-dialog,
.user-edit-dialog,
.medicine-create-dialog,
.medicine-edit-dialog {
  @include dialog;
  
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
    h2 {
      margin: 0;
    }
    
    .dialog-close {
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
  }
  
  &-form {
    display: flex;
    flex-direction: column;
    
    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      
      label {
        margin-bottom: 5px;
      }

      input,
      select {
        padding: 10px;
        border: 1px solid $border-color;
        border-radius: 5px;
        font-size: 16px;
        width: 94%;
        
        &:focus {
          outline: none;
          border-color: $main-button-color;
        }
      }
    }
    
    button, a {
      @include main-button;
      font-family: 'Times New Roman', Times, serif;
    }
    a{
      font-family: 'Times New Roman', Times, serif;
      text-decoration: none;
      background-color: red;
    }
  }
}

.order-details-dialog,
.demand-list-dialog,
.medicine-info-dialog{
  @include dialog;
  padding: 0;

  .dialog-top{
    @include dialog-top;
  }

  .info-field{
    margin: 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0;

    tbody {
      margin: 20px;
      tr {

        &:hover {
          background-color: $table-row-color;
        }

        td {
          text-align: center;
          width: 50%;
          padding: 10px;
        }
      }
    }
  }
  .close-button{
    @include main-button;
    width: 35%;
    margin: 10px 0;
  }
}

@media only screen and (max-width: 425px) {
  .entities-grid{
    justify-content: center;
  }

  .medicine-operations{
    flex-wrap: wrap;
    justify-content: space-around;
  }

}

@media (max-width: 767px) {
  .navbar{
    justify-content: flex-start;
  }

  .grid-entity {
    flex-basis: 100%; 
    max-width: 80%; 
  }
  .entities-table {
    th,
    td {
      display: block;
      width: 93%;
    }

    .action-column {
      flex-direction: column;
      
      button{
        display: inline-block;
        text-align: center;
      };
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .grid-entity {
    flex-basis: calc((100% - 3rem) / 2);
    max-width: 40%; /* Two entities per row */
  }
}

@media (min-width: 992px) {
  .grid-entity {
    flex-basis: calc((100% - 4rem) / 3);
    max-width: 25%; /* Three entities per row */
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.error-title {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.error-message {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.error-link {
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  
  &:hover {
    background-color: #eee;
  }
}