header {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navbar .logo {
  font-size: 3rem;
  font-weight: bold;
  color: #008080;
}
.navbar .nav-links {
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0;
  min-width: 40%;
  list-style-type: none;
}
.navbar .nav-links li {
  margin: 5px;
  font-size: 1.5em;
}
.navbar .nav-links li a {
  color: #008080;
  text-decoration: none;
  font-weight: bold;
}
.navbar .nav-links li a:hover {
  color: rgba(166, 255, 0, 0.7411764706);
}
.navbar .cart-div {
  position: relative;
  display: inline-block;
}
.navbar .cart-div .cart-img {
  height: 3em;
}
.navbar .cart-div .cart-dropdown {
  position: absolute;
  right: 0;
  top: 2em;
  list-style-type: none;
  display: none; /* hide by default */
  background-color: rgba(166, 255, 0, 0.7411764706);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  min-width: 150px;
}
.navbar .cart-div .cart-dropdown li {
  margin-bottom: 0.5rem;
}
.navbar .cart-div .cart-dropdown button {
  border: none;
  padding: 0.5rem 1rem;
  background-color: #008080;
  color: white;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}
.navbar .cart-div .cart-dropdown button:hover {
  background-color: red;
}
.navbar .cart-div:hover .cart-dropdown {
  display: block; /* show on hover */
}

main {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
}

.medicine-buttons {
  display: flex;
  justify-content: flex-start;
}
.medicine-buttons button {
  margin: 1rem;
  padding: 0.5rem 0.5rem;
  font-size: 1.5vw;
  background-color: #007bff;
  color: #fff;
  border-radius: 0.25rem;
  border: none;
  margin: 10px;
}
.medicine-buttons button:hover {
  background-color: #0D47A1;
}

.medicine-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}
.medicine-grid .medicine-entity {
  flex: 1 0 20%;
  max-width: 20%;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.medicine-grid .medicine-entity .main-info-field {
  font-size: 2vw;
}
.medicine-grid .medicine-entity .info-field {
  font-size: 1vw;
}
.medicine-grid .medicine-entity button {
  margin: 1rem;
  padding: 0.5rem 0.5rem;
  font-size: 1.5vw;
  background-color: #007bff;
  color: #fff;
  border-radius: 0.25rem;
  border: none;
}
.medicine-grid .medicine-entity button:hover {
  background-color: #0D47A1;
}
.medicine-grid .medicine-entity button {
  margin: 1rem;
  padding: 0.5rem 0.5rem;
  font-size: 1.5vw;
  background-color: #007bff;
  color: #fff;
  border-radius: 0.25rem;
  border: none;
}
.medicine-grid .medicine-entity button:hover {
  background-color: #0D47A1;
}

.orders-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}
.orders-grid .order-entity {
  flex: 1 0 20%;
  max-width: 20%;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.orders-grid .order-entity .main-info-field {
  font-size: 2vw;
}
.orders-grid .order-entity .info-field {
  font-size: 1vw;
}
.orders-grid .order-entity button {
  margin: 1rem;
  padding: 0.5rem 0.5rem;
  font-size: 1.5vw;
  background-color: #007bff;
  color: #fff;
  border-radius: 0.25rem;
  border: none;
}
.orders-grid .order-entity button:hover {
  background-color: #0D47A1;
}
.orders-grid .order-entity .order-name {
  font-size: 20px;
  font-weight: bold;
}
.orders-grid .order-entity .order-date {
  font-size: 16px;
  color: #666;
}
.orders-grid .order-entity .order-status {
  font-size: 16px;
  color: #666;
}
.orders-grid .order-entity button {
  margin: 1rem;
  padding: 0.5rem 0.5rem;
  font-size: 1.5vw;
  background-color: #007bff;
  color: #fff;
  border-radius: 0.25rem;
  border: none;
}
.orders-grid .order-entity button:hover {
  background-color: #0D47A1;
}

.users-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
.users-table th {
  background-color: #f2f2f2;
}
.users-table tr:hover {
  background-color: #f5f5f5;
}
.users-table .action-column {
  display: block;
}
.users-table th, .users-table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.users-table button {
  margin: 1rem;
  padding: 0.5rem 0.5rem;
  font-size: 1.5vw;
  background-color: #007bff;
  color: #fff;
  border-radius: 0.25rem;
  border: none;
}
.users-table button:hover {
  background-color: #0D47A1;
}

.orders-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
.orders-table th {
  background-color: #f2f2f2;
}
.orders-table tr:hover {
  background-color: #f5f5f5;
}
.orders-table .action-column {
  display: block;
}
.orders-table th, .orders-table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.orders-table button {
  margin: 1rem;
  padding: 0.5rem 0.5rem;
  font-size: 1.5vw;
  background-color: #007bff;
  color: #fff;
  border-radius: 0.25rem;
  border: none;
}
.orders-table button:hover {
  background-color: #0D47A1;
}

.login-dialog,
.user-create-dialog,
.user-edit-dialog,
.medicine-create-dialog,
.medicine-edit-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
  width: 45%;
  min-width: 250px;
  text-align: center;
  padding: 20px;
}
.login-dialog-header,
.user-create-dialog-header,
.user-edit-dialog-header,
.medicine-create-dialog-header,
.medicine-edit-dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.login-dialog-header h2,
.user-create-dialog-header h2,
.user-edit-dialog-header h2,
.medicine-create-dialog-header h2,
.medicine-edit-dialog-header h2 {
  margin: 0;
}
.login-dialog-header .dialog-close,
.user-create-dialog-header .dialog-close,
.user-edit-dialog-header .dialog-close,
.medicine-create-dialog-header .dialog-close,
.medicine-edit-dialog-header .dialog-close {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.login-dialog-form,
.user-create-dialog-form,
.user-edit-dialog-form,
.medicine-create-dialog-form,
.medicine-edit-dialog-form {
  display: flex;
  flex-direction: column;
}
.login-dialog-form .form-group,
.user-create-dialog-form .form-group,
.user-edit-dialog-form .form-group,
.medicine-create-dialog-form .form-group,
.medicine-edit-dialog-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.login-dialog-form .form-group label,
.user-create-dialog-form .form-group label,
.user-edit-dialog-form .form-group label,
.medicine-create-dialog-form .form-group label,
.medicine-edit-dialog-form .form-group label {
  margin-bottom: 5px;
}
.login-dialog-form .form-group input,
.login-dialog-form .form-group select,
.user-create-dialog-form .form-group input,
.user-create-dialog-form .form-group select,
.user-edit-dialog-form .form-group input,
.user-edit-dialog-form .form-group select,
.medicine-create-dialog-form .form-group input,
.medicine-create-dialog-form .form-group select,
.medicine-edit-dialog-form .form-group input,
.medicine-edit-dialog-form .form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 94%;
}
.login-dialog-form .form-group input:focus,
.login-dialog-form .form-group select:focus,
.user-create-dialog-form .form-group input:focus,
.user-create-dialog-form .form-group select:focus,
.user-edit-dialog-form .form-group input:focus,
.user-edit-dialog-form .form-group select:focus,
.medicine-create-dialog-form .form-group input:focus,
.medicine-create-dialog-form .form-group select:focus,
.medicine-edit-dialog-form .form-group input:focus,
.medicine-edit-dialog-form .form-group select:focus {
  outline: none;
  border-color: #0077ff;
}
.login-dialog-form button,
.user-create-dialog-form button,
.user-edit-dialog-form button,
.medicine-create-dialog-form button,
.medicine-edit-dialog-form button {
  background-color: #0077ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
.login-dialog-form button:hover,
.user-create-dialog-form button:hover,
.user-edit-dialog-form button:hover,
.medicine-create-dialog-form button:hover,
.medicine-edit-dialog-form button:hover {
  background-color: #005ae6;
}

.order-details-dialog,
.demand-list-dialog,
.medicine-info-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
  width: 45%;
  min-width: 250px;
  text-align: center;
}
.order-details-dialog .dialog-top,
.demand-list-dialog .dialog-top,
.medicine-info-dialog .dialog-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #0D47A1;
  height: 40px;
}
.order-details-dialog .medicine-info-name,
.demand-list-dialog .medicine-info-name,
.medicine-info-dialog .medicine-info-name {
  text-align: center;
}
.order-details-dialog table,
.demand-list-dialog table,
.medicine-info-dialog table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0;
}
.order-details-dialog table tbody,
.demand-list-dialog table tbody,
.medicine-info-dialog table tbody {
  margin: 20px;
}
.order-details-dialog table tbody tr:hover,
.demand-list-dialog table tbody tr:hover,
.medicine-info-dialog table tbody tr:hover {
  background-color: #f2f2f2;
}
.order-details-dialog table tbody tr td,
.demand-list-dialog table tbody tr td,
.medicine-info-dialog table tbody tr td {
  text-align: center;
  width: 50%;
  padding: 10px;
}
.order-details-dialog .close-button,
.demand-list-dialog .close-button,
.medicine-info-dialog .close-button {
  margin: 1rem;
  padding: 0.5rem 0.5rem;
  font-size: 1.5vw;
  background-color: #007bff;
  color: #fff;
  border-radius: 0.25rem;
  border: none;
  width: 35%;
  margin: 10px 0;
}
.order-details-dialog .close-button:hover,
.demand-list-dialog .close-button:hover,
.medicine-info-dialog .close-button:hover {
  background-color: #0D47A1;
}

@media (max-width: 767px) {
  .medicine-entity,
  .order-entity {
    flex-basis: 100%; /* Force each entity to take up full width */
    max-width: 100%; /* Ensure each entity doesn't exceed full width */
  }
  .users-table th,
  .users-table td,
  .orders-table th,
  .orders-table td {
    display: block;
    width: 93%;
  }
  .users-table .action-column,
  .orders-table .action-column {
    flex-direction: column;
  }
  .users-table .action-column button,
  .orders-table .action-column button {
    display: inline-block;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .medicine-entity,
  .order-entity {
    flex-basis: calc((100% - 3rem) / 2); /* Two entities per row */
  }
}
@media (min-width: 992px) {
  .medicine-entity,
  .order-entity {
    flex-basis: calc((100% - 4rem) / 3); /* Three entities per row */
  }
}

/*# sourceMappingURL=styles.css.map */
